body {
  block-size: 100%;
  font-size: 14px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
  line-height: 1.8;
  -webkit-text-size-adjust: none;
  accent-color: rgb(59, 130, 246);
  caret-color: caret-color rgb(59, 130, 246);
}

.dense {
  /* Spacing */
  --dt-spacing-xs: 0.125rem;
  --dt-spacing-s: 0.25rem;
  --dt-spacing-m: 0.5rem;
  --dt-spacing-l: 1rem;
  --dt-spacing-xl: 1.25rem;

  /* Line height */
  --dt-line-height-dense: 1;
  --dt-line-height-normal: 1.25;
  --dt-line-height-loose: 1.5;
}
